  <div class="profile" *ngIf="series">
    
      <mat-card class="SeriesPoster">
        <img src="https://image.tmdb.org/t/p/w300/{{series.poster_path}}" />
        <button mat-button>View series website</button>
      </mat-card>

      
        <div class="sect">
          <h2>{{series.name}}</h2>
          <p>{{series.status}}</p>
          <p>Last Air Date: {{series.last_air_date}}</p>
          <p>No. of Seasons: {{series.number_of_seasons}}</p>
          <p>No. of episodes: {{series.number_of_episodes}}</p>
          <span *ngFor="let prod of series.production_companies">{{prod.name}}</span>
          <h3>Overview</h3>
          <p>{{series.overview}}</p>
        </div>
          <!-- <div class="cast">
            <h2 style="text-align: center">CAST</h2>
            <mat-card class="cast_card" *ngFor="let actor of cast">
              <img src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}">
              <mat-card-content>
                <p>{{actor.backdrop_path}}</p>
                <a [routerLink]="['/actor',actor.id]">{{actor.name}}</a>
              </mat-card-content>
            </mat-card>
          </div> -->
        
     
   

    <!-- <div class="MoviesList">
      <h2 style="margin-left:44px;">Movies</h2>
        <mat-card class="movie_card" *ngFor="let movie of Actormovie">
          <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
          <mat-card-content>
            <p>{{movie.title}}</p>
            <a [routerLink]="['/movieContent/',movie.id]">View details</a>
          </mat-card-content>
        </mat-card> 
    </div> -->
  </div>


