  .ActorPoster{
    width: 18%;
    padding: 1%;
    height: 400px;
    margin: 1%;
    float: left;
    color: olivedrab;
  }

  .MoviesList{
    /* background: cornflowerblue; */
    float: right;
    width: 61%;
  }

  img, .movie_card{
    width: 96%;
    height: 90%;
  }

  a, .movie_card{
    text-decoration: none;
    color:white;
    cursor: pointer;
  }

  .movie_card{
    padding: 2% 1%;
    width: 20%;
    height: 300px;
    margin: 1%;
    text-align: center;
    float: right;
  }